
ul { 
	list-style:none; 
	cursor:pointer;
}
#list { 
  float:left; 
  transition:all .3s ease;
}
#list:hover { color:#39d9c8; transition:all .3s ease !important; }
#list > #listspan { position:relative; display: inline-block;}

#list > #listspan::after {
  content: '';
  width: 0%;
  right: 50% ;
  height: -10px;
  display: block;
  position: absolute;
  margin-top: 0px;
  border-bottom: 4px solid orange;
  transition:all .3s ease;
}
#list:hover > #listspan::after {
  content: '';
  width: 100%;
  right: 0px;
  height: -10px;
  display: block;
  position: absolute;
  margin-top: 0px;
  border-bottom: 4px solid orange;
  transition:all .3s ease ;
} 
nav{
	background-color: white !important;
	width: 100% !important;
	line-height: 63px !important;
	height: 64px !important;
}

nav ul a {
	color: gray !important;
	font-size: 13px !important;
	padding: 0px 31px !important;
/* 	display: none !important;
 */
 }
.mybtn{
	  background-color: white;
  color: black;
  border: 2px solid #666666;
  border-radius : 30px;
  padding:7px 20px;
}

