.area{
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 10%;
	max-width: 60%;
	
}

#info{
	margin-top: 10%;
	margin-bottom: 10%;
}
.center{
	margin-top: 10%;
	margin-bottom: 10%;
}
.th3{
	text-align: center;
}

