


.button {
	float: right;
	margin: 2px 2px;
}

.edit {
	display: none;
}


.tablehead {
	font-weight : bold;
	font-size : 16px;
}

input {
	display:inline-block;
	width:100%;
}

.container{
	min-height:70%;
}
.right{
	float:right;
}