.box{
	border: 0;
}
.search{
	display: flex;
	float: right;
	width: 20% !important;
}
.search_bt{
	all:unset;
}

#solvedProblemH {
	display: inline-block;
    line-height: 2;
}
.addButton i {
	line-height: 1;
}

.modal_button {
	display: inline-block;
    background: #09c;
    border: 1px solid #a6b86e;
    color: #fff;
    font-size: 13px;
    font-family: "Roboto","Open Sans",sans-serif;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 4px;
    margin-top: 28px;
    margin-left: 5%;
    min-width: 64px;
    transition: all 0.2s;
    outline: 0;
}

.modal_button :hover {
	background: #677e52;
}

#confirmSite{
	height: 300px;
    overflow: scroll;
}

.sweet-modal-box.alert{left: 0 !important;}

/* 등록 모달 */
.title {
	color: #e69238;
    font-size: 20px;
    margin-bottom: 2%;
    font-weight: 500;
}
/* #detailSolvedProblem {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 35px;
} */
.mrg {
	margin-bottom: 5%;
}
.box {
	border-left: thick solid #e69238;
	padding: 1% 2%;
	width: 100%;
}
.sweet-modal-buttons a.button, .sweet-modal-buttons button {
	display: inline-block;
    color: #fff;
    background: #e69138ff !important;
    border: none !important;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 9px 12px;
    margin: 4px;
    margin-top: 28px;
    margin-left: 20px;
    min-width: 64px;
    transition: all 0.2s;
}
.sweet-modal-title-wrap{
	background: #e69138ff;
	padding-left: 45px !important;
}
.sweet-modal-title h2 {
	font-size: 30px !important;
    font-weight: 500 !important;
    color: white !important;
}
.sweet-modal-title h2 a {
	color: white !important;
}
.sweet-modal-content {
	padding-left: 45px !important;
}