/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 * {
 	font-family: 'Nanum Gothic', sans-serif;
 }
.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

/* 모달  */
.sweet-modal-close a.sweet-modal-close-link:hover {
	background-color: #e3a96d;
}

/* button common */
.whitebtn {
  background-color: white;
  color: black;
  border: 2px solid #666666;
  border-radius : 30px;
  padding:7px 20px;
  display:block;
}

.mybtn {
  background-color: white;
  color: black;
  border: 2px solid #666666;
  border-radius : 30px;
  padding:2px 10px;
}

.mybtn:hover {
	background-color: #e69138ff;
	color: white;
	border: 1px solid #e69138ff;
}

/* table common */
.table {
	display: table !important; 
	width: 100% !important;
}

.tableRow {
	display: table-row !important;
}

.th1, .th15, .th2, .th3, .th4, .th5, .th6, .th7, .th8, .th9 { font-weight: bold !important; }

.tableCell {
	display: table-cell !important; 
	padding: 7px !important; 
	border-bottom: 1px solid #DDD !important;
}

.th1, .td1 { width: 10% !important;}

.th15, .td15 { width: 15% !important;}

.th2, .td2 { width: 20% !important;}

.th3, .td3 { width: 30% !important;}

.th4, .td4 { width: 40% !important;}

.th5, .td5 { width: 50% !important;}

.th6, .td6 { width: 60% !important;}

.th7, .td7 { width: 70% !important;}

.th8, .td8 { width: 80% !important;}

.th9, .td9 { width: 90% !important;}

.td10 { width: 100% !important;}


/* footer */
.coding-title {
	color: #1f2519;
	width: 610px;
	text-align: center;
	margin: 10px auto 25px auto;
}

.coding-site {
	text-align: left;
	margin: 0 auto 30px auto;
	width: 670px;
	font-size: 16px;
}

.coding-site li {
	list-style: disc !important;
	padding: 2px 1px;
}

.block-wrapper {
	padding: 30px 80px 7px 80px;
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	row-gap: 10px;
	column-gap: 15px;
}

.site-block {
	display: inline-block;
	height: 60px;
	line-height: 50px;
	border-radius: 8px;
	color: #1f2519;
	border: 2px solid #333e2a;
	text-align: center;
	transition: background ease 0.8s;
}

.site-block:hover {
	background: #ffffff36;
	border: none;
}
/* list format */
.codingSites {
	padding: 20px 0;
	font-size: 16px;
}

.codingSites a {
	color: #666666;
}

.page-footer {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
}

.sweet-modal-box.alert{left: 0 !important;}


/* materialize.css 파일에 있는 것 덮어씌우기 */
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #e69138ff !important;
  -webkit-box-shadow: 0 1px 0 0 #e69138ff !important;
          box-shadow: 0 1px 0 0 #e69138ff !important;
}

.dropdown-content li > a, .dropdown-content li > span {
    font-size: 14px !important;
    color: #e69138ff !important;
    line-height: 18px !important;
    padding: 10px 12px !important;
}

.select-dropdown li.disabled, .select-dropdown li.disabled > span, .select-dropdown li.optgroup {
    color: rgba(0, 0, 0, 0.3) !important;
    background-color: transparent !important;
}

.select-wrapper input.select-dropdown {
	font-size: 12px !important;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #677e52 !important;
}

.orange {
  background-color: #e69138ff !important;
}

.orange-text {
  color: #e69138ff !important;
}
.gray {
  background-color: #666666 !important;
}
.footergray {
	background-color:#e2e2e2 !important;
}
.gray-text {
  color: #666666 !important;
}
.picture{
	text-align: left;
	background-image: url("../resources/img/problem.jpg");
	background-size: cover;
	position: absolute;
	opacity: 0.4;
	z-index: -1;
	margin-top: 100px !important;
	
}
